.color-picker {
    .purple {
        background-color: #7C81ea;
    }
    .green {
        background-color: #4eb09b;
    
    }
    .dark-grey {
        background-color: #333;
    
    }
    .red {
        background-color: #cc0000;
    
    }
    .yellow {
        background-color: #ffce67;
    
    }
    .blue {
        background-color: #389ec5;
    
    }
    .orange {
        background-color: #f90;
    
    }
    .light-blue {
        background-color: #85c3dc;
    
    }
    .black {
        background-color: #000;
    
    }
    .beige {
        background-color: beige;
    
    }
    .black {
        background-color: #000;
    
    }
    .aqua {
        background-color: #85C3DC;
    
    }
}