.products-section {
  .products-title {
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 20px;
    &::after {
      content: " ";
      width: 95px;
      height: 5px;
      display: block;
      background-image: url("/img/decoration-line.png");
      margin: 30px auto 0;
    }
  }
  p {
    color: #999;
    text-align: center;
    margin-bottom: 15px;
  }
  .collections-holder {
    a {
      position: relative;
      font-size: 26px;
      text-transform: uppercase;
      display: block;
      color: #fff;
      margin-bottom: 15px;
      img {
        opacity: 0.8;
        width: 100%;
      }
      span {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        text-align: center;
        width: 100%;
      }
    }
    .frame {
      &::after,
      &::before {
        width: 70px;
        height: 40px;
        border-width: 2px;
      }
    }
  }
  .products-categories {
    padding: 0;
    margin-bottom: 30px;
    text-align: center;
    li {
      display: inline-block;
      margin-right: 10px;
      text-transform: uppercase;
      font-size: 14px;
      &.active {
        a {
          border-top-color: #adcacf;
        }
      }
      &:last-child {
        margin-right: 0;
      }
      a {
        padding-top: 10px;
        display: block;
        border-top: 2px solid transparent;
        &:hover {
          border-top-color: #adcacf;
        }
      }
    }
  }
  .product {
    margin-bottom: 35px;
    .product-image-holder {
      margin-bottom: 15px;
      position: relative;
      overflow: hidden;
      > a {
        display: block;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
      }
      .hover-list {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 19px 0;
        text-align: center;
        background-color: transparentize(#85c3dc, 0.5);
        li {
          display: inline-block;
          margin: 0 6%;
        }
      }
    }
    .product-title {
      margin-bottom: 15px;
      padding: 0 15px;
      h3 {
        font-size: 16px;
        float: left;
        margin-bottom: 0;
        span {
          display: block;
        }
      }
      > span {
        float: right;
        color: #000;
        text-transform: uppercase;
      }
    }
    .color-picker {
      padding: 0 15px;
      li {
        float: left;
        margin-right: 5px;
        &:last-child {
          margin-right: 0;
        }
        a {
          display: block;
          width: 16px;
          height: 16px;
          text-indent: -99999px;
        }
      }
    }
    &:hover {
      .product-image-holder {
        > a {
          opacity: 0.6;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .article-clear {
    width: 100%;
    .product-image-holder {
      img {
        width: 100%;
      }
    }
  }
}

@media (min-width: 400px) {
  .products-section {
    p {
      margin-bottom: 25px;
    }
  }
  .collections-holder {
    a {
      margin-bottom: 30px;
    }
  }
  .article-clear:nth-of-type(2n+3) {
    clear: both;

  }
}

@media (min-width: 768px) {
  .products-section {
    p {
      margin-bottom: 15px;
    }
    .collections-holder {
      .frame {
        &::after,
        &::before {
          width: 130px;
          height: 60px;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
        }
        &:hover {
          &::before {
            top: 30px;
            left: 45px;
          }
          &::after {
            bottom: 30px;
            right: 45px;
          }
        }
      }
    }
    .products-categories {
      margin-bottom: 40px;
      li {
        margin-right: 50px;
        a {
          font-size: 16px;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .products-section {
    p {
      margin-bottom: 70px;
    }
    .collections-holder {
      a {
        margin-bottom: 65px;
      }
    }
    .products-categories {
      margin-bottom: 45px;
    }
    .product {
      .product-image-holder {
        .hover-list {
          bottom: -70px;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
        }
      }
      &:hover {
        .hover-list {
          bottom: 0;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .products-section {
    .collections-holder {
      a {
        margin-bottom: 55px;
      }
    }
  }
}
